@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainContent {
    <section id="adminInfo" class="section active">
        <h2>Thông Tin Quản Trị Viên</h2>
            <div class="info-group">
                <label class="info-label">Họ và tên</label>
                <div class="info-value">@ViewBag.HoTen</div>
            </div>

            <div class="info-group">
                <label class="info-label">Username</label>
                <div class="info-value">@ViewBag.Username</div>
            </div>

            <div class="info-group">
                <label class="info-label">Ngày sinh</label>
                <div class="info-value">@ViewBag.NgaySinh.ToString("dd/MM/yyyy")</div>
            </div>
    </section>
}
