@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainContent {
    <section id="dashboard" class="section active">
        <h1>Chào mừng, Admin!</h1>
        <p>Hệ thống quản lý tài khoản ngân hàng.</p>
    </section>
}
